<div class="col-md-8 col-md-offset-2">
  <div class="col-md-12">
    <h1 class="alert alert-info">Cliente</h1>
    <input data-type="search" id="searchcliente"/>
    <div data-role="collapsible-set" data-filter="true" data-children="> div, > div div ul button" data-inset="true" id="collapsiblesetForFilterChildren" data-input="#searchcliente">
        <div data-role="collapsible" data-filtertext="<%@clientes.each do |cliente|%> <%=cliente.nombre%><%=cliente.id%> <%end%>">
            <h3>Lista de clientes</h3>
            <ul data-role="listview" data-inset="false">
              <%@clientes.each do |cliente|%> 

                <button data-filtertext="<%=cliente.nombre%><%=cliente.id%>" data-theme="b" onclick="selectcliente('<%=cliente.id%>', '<%=cliente.nombre%>')">#<%= cliente.id%> <%=cliente.nombre%></button>
              <%end%> 
            </ul>
        </div>
    </div>
    <%=link_to "Registrar cliente nuevo", new_cliente_path, "data-role"=>"button", "data-inline"=>"true", "data-theme"=>"b", "class"=>" botton"%>
  </div>
  <div class="col-md-12">
    <h1 class="alert alert-info">Seleccion de Productos</h1>
    <input data-type="search" id="searchForCollapsibleSetChildren">
    <div data-role="collapsible-set" data-filter="true" data-children="> div, > div div ul button" data-inset="true" id="collapsiblesetForFilterChildren" data-input="#searchForCollapsibleSetChildren">
        <div data-role="collapsible" data-filtertext="<%@articulos.each do |name|%> <%=name.nombre%> <%end%>">
            <h3>Lista de articulos</h3>
            <ul data-role="listview" data-inset="false">
              <%@articulos.each do |name|%> 
                <button data-filtertext="<%=name.nombre%>" data-theme="b" onclick="enviar(<%=name.id%>, '<%=name.nombre%>',<%=name.precio_venta%>, <%=name.existencia%>)"><%=name.nombre%></button>
              <%end%> 
            </ul>
        </div>
    </div>
  </div>
  <div class="col-md-12">

    <%= form_tag({:controller => "sells", :action => "new"}, :method => "get", "id"=>"formulario_data") do %>
      <h3 class="alert alert-warning center">Cliente</h3>
      <div id="cliente"></div>
      <h3 class="alert alert-danger center">Productos seleccionados</h3>
      <div id="elements"></div>
      <%= submit_tag "enviar" %>
    <% end %>
  </div>
  <button type="button" class="btn btn-info btn-lg" onclick="recorrer()" data-toggle="modal" data-target="#myModal" data-inline="true">
    Generar compra
  </button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title center">Confirmacion de pedido</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-inline="true"   data-dismiss="modal" onclick="enviar_formulario()">Confirmar</button>
        <button type="button" class="btn btn-default" data-inline="true" data-dismiss="modal">Declinar</button>
      </div>
    </div>

  </div>
</div>
</div>

