<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sell.user %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @sell.cliente %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sell.total %>
</p>

<%= link_to 'Edit', edit_sell_path(@sell) %> |
<%= link_to 'Back', sells_path %>
