<!DOCTYPE html>
<html>
<head>
  <title>PuntoVenta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
<%= render "parcial/nav"%>
<div data-role="content" data-theme="a" class="margin_top">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<%= yield %>
</div>
<div data-role="footer"></div>
</body>
</html>
