<!DOCTYPE html>
<html>
<head>
  <title>PuntoVenta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="header">
	<% if user_signed_in? %>
  		<li>
  			<%= link_to('Salir', destroy_user_session_path, :method => :delete) %>        
  		</li>
      <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>  
      </li>
  <%end%>
	<% if current_user.is_admin?%>
  		<li>
  			<%= link_to('Registrar', admins_path, "data-role"=>"button" , "data-icon" => "plus", "data-iconpos"=>"notext", "data-theme" => "b" )  %>  
  		</li>
	<% end %>
</div>
<div data-role="content">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<%= yield %>
</div>
<div data-role="footer"></div>
</body>
</html>
