<!DOCTYPE html>
<html>
<head>
  <title>PuntoVenta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="header">
	<% if user_signed_in? %>
  		<li>
  			<%= link_to('Salir', destroy_user_session_path, :method => :delete) %>        
  		</li>
      <% if current_user.is_admin?%>
      <li>
        <%= link_to('Registrar', admins_path, "data-role"=>"button" , "data-icon" => "plus", "data-iconpos"=>"notext", "data-theme" => "b" )  %>  
      </li>
  <% end %>
      <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>  
      </li>
  <%end%>
</div>
<div data-role="content">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<%= yield %>
</div>
<div data-role="footer"></div>
</body>
</html>
